<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Meet_QuanLyShopThoiTrang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Meet_QuanLyShopThoiTrang.Properties.Settings.QLBH"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Tan Hien\OneDrive\Documents\Kỳ_4\Dự Án 1\QLBH-ThoiTrang\QLShopThoiTrang\QLBH-ThoiTrang\GUI_QuanLyShopThoiTrang\GUI_QuanLyShopThoiTrang\Meet_QuanLyShopThoiTrang\QLShopBanHang.mdf;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <Meet_QuanLyShopThoiTrang.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value />
            </setting>
        </Meet_QuanLyShopThoiTrang.Properties.Settings>
    </userSettings>
</configuration>